
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-div{
  width: 600px;
  /* height: 400px; */
  border: 2px solid black;
  margin: auto;
  margin-top: 50px;
}

.one{
  width: 100px;
  height: 100px;
  background-color: aqua;
  float: left;
}
.two{
  width: 100px;
  height: 100px;
  background-color: rgb(179, 255, 0);
  float: right;
}
.three{
  width: 100px;
  height: 100px;
  background-color: rgb(0, 85, 255);
  float: right;
}

#clear-fix::after{
  content: "";
  display: block;
  clear: both;
}
