


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.parent-div{
  width: 400px;
  min-height: 100px;
  /* background-color: aqua; */
  margin: auto;
  margin-top: 40px;
}

.logo-div{
  width: 100%;
  min-height: 50px;
  background-color: orange;
  padding-left: 20px;
  line-height: 50px;
  margin-bottom: 8px;
}
.nav-div{
  width: 100%;
  min-height: 30px;
  background-color: rgb(0, 255, 64);
  text-align: center;
  line-height: 30px;
  margin-bottom: 8px;
  
}
.header-div{
  width: 100%;
  min-height: 80px;
  background-color: rgb(255, 0, 191);
  text-align: center;
  line-height: 80px;
  margin-bottom: 8px;
  
}

.main-div{
  width: 100%;
  /* background-color: blue; */
  margin-bottom: 8px;
}

#clear-fix::after{
  content: "";
  display: block;
  clear: both;
}
.sidebar-div{
  
  width: 25%;
  min-height: 250px;
  background-color: blueviolet;
  float: left;
  text-align: center;
  line-height: 250px;
}
.body-div{
  width: 72%;
  min-height: 250px;
  background-color: rgb(195, 226, 43);
  float: right;
   text-align: center;
  line-height: 250px;
}
.footer-div{
  width: 100%;
  min-height: 30px;
  background-color: rgb(255, 162, 0);
  text-align: center;
  line-height: 30px;
  
}