
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-div{
  width: 400px;
  /* background-color: aqua; */
  /* border: 2px solid black; */
  margin: auto;
  /* max-height: 450px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.logo-div{
  width: 100%;
  height: 50px;
  background-color: rgb(221, 220, 220);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  
}

.nav-div{
  width: 100%;
  height: 40px;
  background-color: rgb(221, 220, 220);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.header-banner-div{
  width: 100%;
  height: 100px;
  background-color: rgb(221, 220, 220);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.main-div{
  width: 100%;
  height: 240px;
  /* background-color: rgb(221, 220, 220); */
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.sidebar-div{
  flex-basis: 26%;
  background-color: rgb(221, 220, 220);
  display: flex;
  justify-content: center;
  align-items: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  
}
.bodyarea-div{
  flex-basis: 72%;
   background-color: rgb(221, 220, 220);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.footer-div{
  width: 100%;
  height: 40px;
  background-color: rgb(221, 220, 220);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}