

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent-div{
  width: 100%;
  min-height: 80px;
  background-color: black;
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;
}

.logo-div{
  display: grid;
  align-items: center;
  padding-left: 50px;
}

a{
  display: grid;
  align-items: center;
  justify-items: center;
}
