
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bold;
 color: white;
}

.parent-div{
  width: 600px;
  height: 400px;
  display: grid;
  grid-template-columns: 150px 300px 150px;
  grid-template-rows: 100px 200px 100px;
  gap: 10px;
  margin: auto;
  margin-top: 20px;
}

.holy-div{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
   background-color: rgb(80, 133, 229);
  display: grid;
  place-items: center;
}
.nav-div{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(130, 181, 239);
  display: grid;
  place-items: center;
}
.main-div{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(177, 177, 177);
  display: grid;
  place-items: center;
}
.sidebar-div{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(130, 181, 239);
  display: grid;
  place-items: center;
}
.footer-div{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgb(80, 133, 229);
  display: grid;
  place-items: center;
}

