

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}

.parent-div{
  width: 800px;
  min-height: 100px;
  /* background-color: aqua; */
  margin: auto;
  display: grid;
  row-gap: 10px; 
  grid-template-rows: 100px 300px 100px;
  margin-top: 20px;
}

.holy-div{
  background-color: rgb(81, 110, 225);
  display: grid;
  place-items: center;
  /* justify-items: center;
  align-items: center; */
}

.main-div{
  /* background-color: rgb(4, 255, 0); */
  display: grid;
  column-gap: 10px;
  grid-template-columns: 200px 400px 200px;
}

.nav-div{
 background-color: rgb(104, 181, 239);
  display: grid;
  place-items: center;
}
.content-div{
background-color: rgb(186, 183, 185);
display: grid;
place-items: center;
}
.sidebar-div{
background-color: rgb(104, 181, 239);
display: grid;
place-items: center;
}


.footer-div{
  background-color: rgb(81, 110, 225);
  display: grid;
  place-items: center;
}