p{
  color: blue;
  /* text-align: center; */
  /* font-size: 20px; */
  /* font-weight: bold; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* text-decoration: line-through; */
  /* text-transform: capitalize; */
  /* text-shadow: 0px -5px 2px red;
  box-shadow: -5px -5px 10px black; */
  /* line-height: .5; */
  /* letter-spacing: 20px ; */
  /* word-spacing: 50px ; */
  /* width: 300px;
  height: 300px; */
  /* border: 2px solid black; */
  /* margin: auto; */
}