
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
  border: 2px solid red
}

body{
  border: 2px solid black;
}


.parent-div{
  /* border: 2px solid black; */
  width: 300px;
  padding: 20px;
  min-height: 310px;
  margin: auto;
  box-shadow: 4px 4px 5px black;
  margin-top: 20px;
  position: relative;
 
}

.dell-img{
  width: 100%;
}

h3{
  /* margin-top: 15px;
  margin-bottom: 15px; */
  margin: 15px 0px;
}

.btn{
  padding: 8px 15px;
  font-weight: bolder;
  font-size: 16px;
  display: block;
  margin: auto;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
}

.whatsapp{
  border: none;
  padding: 7px 15px;
  background-color: rgb(16, 248, 55);
  font-weight: bold;
  font-size: 16px;
  border-radius: 30px;
  /* position: static ; */
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.offer{
  width: 300px;
  background-color: orange;
  color: black;
  border: none;
  padding: 10px 0px;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  display: block;
  position: sticky;
  top: 2px;
}

.new{
  border: none;
  background-color: red;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 16px;
  position: absolute;
  top: 30px;
  left: 40px;
}

.cart{
  border: none;
  background-color: rgb(0, 255, 179);
  color: rgb(0, 0, 0);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 16px;
  position: relative;
  top: 10px;
}