*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.one{
  box-sizing: content-box;
  /* width: 100%; */
  width: 100%;
  padding: 50px;
  /* margin: 10px; */
  border: 16px solid black;
}
/* .two{
  box-sizing: border-box;
  width: 400px;
  padding: 10px;
  margin: 10px;
  border: 16px solid black;
} */

button{
  width: 150px;
  padding: 5px 30px;
  margin-left: 100px;
  margin-top: 100px;
  border: 5px solid black;
  background-color: aqua;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}