

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}


/* desktop  */

 @media screen and (max-width: 1400px){
  .parent-div{
  width: 700px;
  min-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.holy-div{
  width: 100%;
  height: 80px;
  background-color: rgb(50, 129, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.main-div{
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-div{

  flex-basis: 22%;
  background-color: rgb(119, 171, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-div{
   flex-basis: 52%;
  background-color: rgb(193, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-div{
  flex-basis: 22%;
  background-color: rgb(119, 171, 254);
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-div{
  width: 100%;
  height: 80px;
  background-color: rgb(50, 129, 198);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
}  

/*mobile */
 @media screen and (max-width: 730px){
  .parent-div{
  width: 600px;
  min-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
} 


.holy-div{
  width: 100%;
  height: 80px;
  background-color: rgb(50, 129, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.main-div{
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
 
}
.nav-div{
  width: 100%;
  height: 100px;
  background-color: rgb(119, 171, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-div{
   width: 100%;
   height: 200px;
  background-color: rgb(193, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-div{
  width: 100%;
  height: 100px;
  background-color: rgb(119, 171, 254);
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-div{
  width: 100%;
  height: 80px;
  background-color: rgb(50, 129, 198);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
} 