

.one{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 20px 40px 60px;
}
/* .two{
  width: 200px;
  height: 200px;
  border: 2px solid rgb(255, 0, 0);
  margin: 50px;
} */

/* body{
  border: 2px solid blue;
} */