

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent{
  max-width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  background-color: grey;
  display: flex;
  /* flex-wrap: wrap; */
}

.one{
  width: 200px;
  height: 100px;
  background-color: yellow;
  /* order: 4; */
  /* flex-shrink: 4; */
  /* flex-basis: 300px; */
  /* align-self: start; */

}
.two{
  width: 200px;
  height: 100px;
  background-color: rgb(0, 255, 8);
  /* order: 0; */
  /* flex-grow: 1; */
}
.three{
  width: 200px;
  height: 100px;
  background-color: rgb(0, 8, 255);
  /* flex-grow: 2; */
  
}
.four{
  width: 200px;
  height: 100px;
  background-color: rgb(255, 0, 98);
  /* order: 1; */
}
