

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-div{
  width: 600px;
  height: 300px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  /* grid-template-rows: 100px 100px 100px; */
  background-color: blue;
  margin: auto;
  margin-top: 100px;
}

.one{
  background-color: orange;
}
.two{
  background-color: rgb(0, 255, 85);
}
.three{
  background-color: rgb(255, 0, 123);
}
