
@keyframes myanimation {
  /* from{
     background-color: red;
  }
  to{
   background-color: blue;
  } */
   25% {
    background-color: aqua;
    width: 200px;
    height: 200px;
   }
   50% {
    background-color: yellow;
    width: 300px;
    height: 300px;
   }
   75% {
    background-color: red;
    width: 400px;
    height: 400px;
    border: 5px solid black;
   }
   100% {
    background-color: blue;
    width: 500px;
    height: 500px;
   }
}


.myclass{
  animation-name: myanimation;
  animation-duration: 5s;
  /* animation-delay: 10s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: reverse; */
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: ease-in;
  background-color: brown;
  width: 400px;
  height: 200px;
}