

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.parent-div{
  width: 400px;
  height: 500px;
  /* background-color: aqua; */
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-rows:70px 35px 110px 250px 35px;
  row-gap: 8px;
}

.logo-div{
  background-color: rgb(185, 184, 182);
  display: grid;
  align-items: center;
  padding-left: 20px;
}
.nav-div{
  background-color: rgb(185, 184, 182);
  display: grid;
  place-items: center;
}
.header-div{
  background-color: rgb(185, 184, 182);
  display: grid;
  place-items: center;
}
.main-div{
  /* background-color: rgb(255, 0, 144); */
  display: grid;
  grid-template-columns: 150px 250px;
  column-gap: 8px;
}
.sidebar-div{
   background-color: rgb(185, 184, 182);
  display: grid;
  place-items: center;
}
.bodyarea-div{
   background-color: rgb(185, 184, 182);
  display: grid;
  place-items: center;
}
.footer-div{
  background-color: rgb(185, 184, 182);
  display: grid;
  place-items: center;
}