

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
 
}

.parent-div{
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: 120px 280px;
  grid-template-rows: 60px 30px 100px 280px 30px;
  margin: auto;
  margin-top: 20px;
  gap: 8px;
}

.logo-div{
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: rgb(211, 212, 212);
  display: grid;
  align-items: center;
  padding-left: 20px;
}
.nav-div{
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: rgb(211, 212, 212);
  display: grid;
  place-items: center;
}
.header-div{
  grid-column: 1/3;
  grid-row: 3/4;
  background-color: rgb(211, 212, 212);
  display: grid;
  place-items: center;
}
.sidebar-div{
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: rgb(211, 212, 212);
  display: grid;
  place-items: center;
}
.body-div{
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: rgb(211, 212, 212);
  display: grid;
  place-items: center;
}
.footer-div{
  grid-column: 1/3;
  grid-row: 5/6;
 background-color: rgb(211, 212, 212);
  display: grid;
  place-items: center;
}