* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-div {
  width: 400px;
  min-height: 100px;
  /* background-color: blue; */
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.logo-nav-div {
  width: 100%;
  height: 40px;
  background-color: rgb(203, 201, 201);
  display: flex;
  justify-content: space-between;
}

.logo-div {
  flex-basis: 50%;
  /* background-color: greenyellow; */
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-div {
  flex-basis: 50%;
  /* background-color: rgb(241, 47, 255); */
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-div {
  width: 100%;
  height: 100px;
  background-color: rgb(203, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
}
.intro-div {
  width: 100%;
  height: 60px;
  background-color: rgb(203, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
}
.main-div {
  width: 100%;
  height: 200px;
  /* background-color: rgb(255, 0, 162); */
  margin-top: 10px;
  display: flex;
  justify-content: space-between
}

.box{
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
   font-weight: bold;
   background-color: rgb(203, 201, 201);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-div {
  width: 100%;
  height: 30px;
  background-color: rgb(203, 201, 201);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
